/env
/docs
src/swarm_rescue/tools/generated_code.py
src/swarm_rescue/various
__pycache__
*.profile
*.calltree
swarm_rescue.egg-info

# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version
./src/swarm_rescue/spg_overlay/gui_map/closed_playground.py

*.png
src/swarm_rescue/solutions/pathfinder/src/pathfinder_c.c
src/swarm_rescue/solutions/mapper/src/grid_c.c
*.o
/src/swarm_rescue/solutions/mapper/build/
/src/swarm_rescue/solutions/pathfinder/build/
/src/swarm_rescue/solutions/roamer/build/
